html{
  background-color:darkgray
}

.center-container {
  display: flex;
  justify-content: center; 
  /* align-items: center;  */
  height: 90vh;
  overflow-y: auto;
}

/* Table container */
.table-container {
  /* width: 80%; */
}

/* Add border to the table */
#geojsonTable {
    border-collapse: collapse;
    background-color: #dddddd;
    display: none;
  }
  
  /* Add borders to table cells */
  #geojsonTable th,
  #geojsonTable td {
    border: 1px solid black;
        padding: 8px;
    text-align: center; /* Center-align table cell content */
  }
  
  /* Add background color to header row */
  #geojsonTable th {
    background-color: #f2f2f2;
  }